/*  your css code here. If applicable */
.card {
    width: 100%;
    padding: 20px;
    background-color: dimgray;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
}
.card-button {
    padding: 10px ;
    background-color:red;
    color:whitesmoke;
    border-radius: 5px;
}